html,body,header,{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
}
#nav-color{
    background-color: #37577D !important;
}

.navbar.navbar-light, .breadcrumb,
.nav-item .nav-link, .navbar,
.navbar-light, .navbar-nav,
.nav-item, .nav-link {
    color: #fff !important;
}


.navbar-collapse{
    background-color: #37577D;
}
@media (max-width: 768px){
    .navbar:not(.navbar-collapse){
        background-color: #37577D;
    }
}

 #scrollUp {
    border-radius: 2px;
    bottom: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 28px;
    height: 45px;
    line-height: 45px;
    position: fixed;
    right: 15px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 45px;
    z-index: 200;
    bottom: 15px;
}
#scrollUp:hover {
}

@-webkit-keyframes scroll-ani-to-top {
  0% {
    opacity: 0;
    bottom: 0;
  }
  50% {
    opacity: 1;
    bottom: 50%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}
@-moz-keyframes scroll-ani-to-top {
  0% {
    opacity: 0;
    bottom: 0;
  }
  50% {
    opacity: 1;
    bottom: 50%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}
@keyframes scroll-ani-to-top {
  0% {
    opacity: 0;
    bottom: 0;
  }
  50% {
    opacity: 1;
    bottom: 50%;
  }
  100% {
    opacity: 0;
    bottom: 75%;
  }
}
#scrollUp:hover i {
  animation: 800ms linear 0s normal none infinite running scroll-ani-to-top;
  height: 100%;
  left: 0;
  margin-bottom: -25px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
#scrollUp i {
  color: #fff;
}
 #scrollUp {
  background: #49a010 none repeat scroll 0 0;
}
blockquote {
    border-left: 2px solid #49a010;
    color: #333;
    font-size: 14px;
    font-style: italic;
    margin: 22px 0 24px 50px;
    padding: 0 0 0 20px;
    width: 89%;
}
.ht__blog__list {
    border: 1px solid #ddd;
    padding-bottom: 34px;
}
.ht__bl__dec p {
    color: #333;
    font-size: 14px;
    line-height: 30px;
}
.ht__bl__dec {
    margin-top: 24px;
}
.ht__blog__thumb iframe {
    height: 448px;
    width: 100%;
}
.ht__blog__dtl__inner {
    padding: 0 40px;
}
.ht__blog__dtl h2 a {
  color: #333;
  display: block;
  font-size: 26px;
  font-weight: 500;
  padding-top: 34px;
  transition: all 0.3s ease 0s;
}
.bl__meta {
    border-bottom: 2px dashed #dddddd;
    display: flex;
    padding-bottom: 25px;
    padding-top: 15px;
}

.bl__meta li + li {
    margin-left: 28px;
}
.bl__meta li i {
  color: #49a010;
  font-size: 18px;
  padding-right: 14px;
}
.bl__meta li {
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
.bl__meta li a{
    color: #333;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}
.bl__meta li a:hover,
.ht__blog__dtl h2 a:hover{
    color: #49a010;
}
#PickleRick-footer {
    position: relative;
    background-color: #37577D;
    height: 150px;
}

.fab {
    display: block;
    font-family: 'Font Awesome 5 Brands';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

#PickleRick-row {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#PickleRick-row > .col-xs {
    margin-right: 5px;
}

.col-xs:last-child {
    margin: 0;
}

.col-xs {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #37577D;
    border-radius: 100px;
    background-color: grey;
    transition: all 0.5s ease;
    cursor: pointer;
}

.social-links {
    color: #212529;
    text-decoration: none;
}

.social-links:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #fff;
}

.col-xs:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: white;
}