html,
body,
header {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 30px !important;
  color: #575756 !important;
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
button {
  font-family: "Open Sans", sans-serif;
}
#nav-color {
  background-color: #37577d !important;
}

.navbar.navbar-light,
.breadcrumb,
.nav-item .nav-link,
.navbar,
.navbar-light,
.navbar-nav,
.nav-item,
.nav-link {
  color: #fff !important;
}

.navbar-collapse {
  background-color: #37577d;
}
@media (max-width: 768px) {
  .navbar:not(.navbar-collapse) {
    background-color: #37577d;
  }
}

.btn-secondary,
.form-header_text {
  background-color: #ff3035 !important;
}
.form-header {
  border-radius: 1px solid #ff3035;
}
.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.btn-main-card {
  color: #e30613 !important;
  border: 2px solid #e30613;
  background-color: #fff;
}
.btn-main-card:hover {
  color: #fff !important;
  background-color: #e30613 !important;
}
/* ******************************************FOOTER ***********************************************/
/* *****************************************************************************************/
.social-btn {
  box-shadow: none;
}
.social-btn:hover {
  outline: 1px solid #fff;
  color: #e30613;
  box-shadow: none;
}
/* .fab {
  transform: scale(1.5);
} */
