@media (min-width: 320px) {
  p {
    font-size: 16px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 21px !important;
  }

  /* Carousel Main */
  .carousel-text {
    padding: 20px 10px !important;
  }
  .card-title {
    padding: 20px 10px !important;
  }
  /******************************/
}
@media (min-width: 425px) {
  p {
    font-size: 16px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 21px !important;
  }
  /* Carousel Main */

  /******************************/
}
@media (min-width: 480px) {
  p {
    font-size: 16px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 21px !important;
  }
  /* Carousel Main */

  /******************************/
}

@media (max-width: 768px) {
  p {
    font-size: 16px !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 25px !important;
  }
  .navbar:not(.navbar-collapse) {
    background-color: #fff;
  }
  .col-md-10 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .social-text {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1024px) {
  .nav-item {
    border-top: none !important;
    border-bottom: none !important;
  }
}
