@media (min-width: 320px) {
  /* Carousel Main */
  .carousel-text {
    padding: 20px 10px !important;
  }
  .card-title {
    padding: 20px 10px !important;
  }
  /******************************/
}
@media (min-width: 480px) {
  /* Carousel Main */

  /******************************/
}
@media (min-width: 480px) {
  /* Carousel Main */

  /******************************/
}

@media (max-width: 768px) {
  .navbar:not(.navbar-collapse) {
    background-color: #fff;
  }
  .col-md-10 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .social-text {
    margin-bottom: 10px !important;
  }
}

@media (min-width: 1024px) {
  .nav-item {
    border-top: none !important;
    border-bottom: none !important;
  }
}
