/* Base */
html,
body {
  font-weight: 400 !important;
  font-size: 20px !important;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 30px !important;
  color: #575756 !important;
  font-family: "Open Sans", sans-serif;
}
p {
  color: #575756 !important;
  font-family: "Open Sans", sans-serif;
}
button {
  font-family: "Open Sans", sans-serif;
}
.form-control {
  height: 55px;
  background: #fff !important;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.form-control:active,
.form-control:focus {
  border-color: #dc3545;
}
.form-control:hover,
.form-control:active,
.form-control:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.search-form {
  background: #f7f7f7;
  padding: 10px;
}
.search-form .form-group {
  position: relative;
}
.search-form .form-group input {
  padding-right: 50px;
}
.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ml {
  margin: 0 auto;
}

.site-section {
  padding: 2.5em 0;
}
@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}
.site-section.site-section-sm {
  padding: 4em 0;
}

/*********************************************************/
/* Main Menu */
/*********************************************************/
.nav a {
  line-height: 38px;
}
#nav-color {
  background-color: #fff !important;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar.navbar-light,
.breadcrumb,
.nav-item .nav-link,
.navbar,
.navbar-light,
.navbar-nav,
.nav-item,
.nav-link,
.navbar-toggler,
.navbar-toggler-icon {
  color: #e30613 !important;
}
.navbar-collapse {
  background-color: #fff;
}
/* @media (max-width: 1024px) {
  .nav-item {
    border-top: none;
  }
} */

/* .nav-item {
  border-top: 1px solid #f4f4f3;
}
li:nth-child(5) {
  border-bottom: 1px solid #f4f4f3;
} */
.nav-item:last-child {
  padding: 0;
  width: 70px;
}
.nav-item > a {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 20px !important;
}
/* .nav-link:hover {
  border-bottom: 2px solid #e30613;
} */
.nav-item {
  padding-right: 25px;
}
.dropdown-menu {
  min-width: 50px !important;
}
.dropdown-menu_item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #797978 !important;
}
.flag-icon-ro,
.flag-icon-ru {
  width: 100%;
  height: 100%;
}
/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: #e30613;
  cursor: pointer;
}
.animated-icon2 span {
  color: #e30613;
}

.animated-icon1 span,
.animated-icon2 span,
.animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e30613;
}

.animated-icon2 span {
  background: #e30613;
}

.animated-icon3 span {
  background: #e30613;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

blockquote {
  border-left: 2px solid #ff3035;
  color: #333;
  font-size: 18px;
  font-style: italic;
  margin: 22px 0 24px 50px;
  padding: 0 0 0 20px;
  width: 89%;
}
/*****************************************************************************/
/*Main Content*/
/*****************************************************************************/
.btn-main-card {
  color: #e30613 !important;
  border: 2px solid #e30613;
  background-color: #fff;
}
.btn-main-card:hover {
  color: #fff !important;
  background-color: #e30613 !important;
}
/*****************************************************************************/
/*Footer*/
/*****************************************************************************/
.social-btn {
  box-shadow: none;
}
.social-btn:hover {
  outline: 1px solid #fff;
  color: #e30613;
  box-shadow: none;
}
.fab {
  transform: scale(1.5);
}
