html,body,header,{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 20px;
}
.my-0{
    margin: 0;
}
          
                              /* Main Menu */
#blue_hui{
    background-color: #37577D !important;
}

.navbar.navbar-light, .breadcrumb,
.nav-item .nav-link, .navbar,
.navbar-light, .navbar-nav,
.nav-item, .nav-link {
    color: #fff !important;



.navbar-collapse{
    background-color: #37577D;
}
@media (max-width: 768px){
    .navbar:not(.navbar-collapse){
        background-color: #37577D;
    }
}

                                        /* Slider */

#PickleRick-carousel {
    width: 100%;
    height: 100%;
}
#carouselExampleIndicators {
    height: 100%;
    width: 100%;
}
#PickleRick-carousel-item {
    height: 100%;
    width: 100%;
}
.carousel-item active,
.carousel-item {
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-control-prev {
    overflow: hidden;
}

.carousel-control-next {
    overflow: hidden;
}


                                        /* Main-Content */

.card-image{
    background-size: cover;

}
.btn-color{
    background-color: #FF3035;
}
.card-color{
    color: #FF3035;
}


                                        /* Modal Window */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    border: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 0;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #DD4F42;
    color: #fff;
    border: 0;
}

.modal-body {
    background-color: #DD4F42;
    color: #fff;   
    padding: 2px 16px;
    border: 0;
}



                                        /* SignUp */

#PickleRick-signup {
    background-color: #37577D;
}

.signup-text {
    margin-top: 48px;
}

.signup-section .form-inline input {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 10px 1rem;
    height: auto;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}



                                        /*Footer*/


#PickleRick-footer {
    position: relative;
    background-color: #37577D;
    height: 150px;
}

.fab {
    display: block;
    font-family: 'Font Awesome 5 Brands';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

#PickleRick-row {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#PickleRick-row > .col-xs {
    margin-right: 5px;
}

.col-xs:last-child {
    margin: 0;
}

.col-xs {
    position: relative;
    width: 45px;
    height: 45px;
    border: 1px solid #37577D;
    border-radius: 100px;
    background-color: grey;
    transition: all 0.5s ease;
    cursor: pointer;
}

.social-links {
    color: #212529;
    text-decoration: none;
}

.social-links:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #fff;
}

.col-xs:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: white;
}